.btn {
    &,
    &:link,
    &:visited {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        position: relative;
        
        
        
        //Change for the <button>
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 1rem 2rem rgba($color-black,.3);
        box-shadow: 0 1rem 2rem rgba($color-black,.3);
        
        &::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
            -ms-transform: scaleX(1.4) scaleY(1.6);
            -o-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-box-shadow: 0 .5rem 1rem rgba($color-black,.3);
        box-shadow: 0 .5rem 1rem rgba($color-black,.3);
    }

    &--white {
        background-color: $color-white;
        color: $color-gray-dark;
        
        &::after {
            background-color: $color-white;
            opacity: .3;
        }
    }
    
    &--green {
        background-color: $color-primary;
        color: $color-white;
        
        &::after {
            background-color: $color-primary;
            opacity: .3;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }    

    &--animated {
        -webkit-animation-name: moveInBottom;
        -o-animation-name: moveInBottom;
        animation-name: moveInBottom;
        -webkit-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards; /*animation doesn`t start, while other animations don`t start*/
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-fs;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s ease-out;
    }
    
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}