.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-fs;
    transform: skewX(-15deg);
    
    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    
    @include respond(phone) {
        transform: skewX(0);
    }
    
    
    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50%/*radius*/ at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translate(-3rem, -10%) skewX(15deg);
        
        @include respond(phone) {
            transform: translate(-3rem, -10%) skewX(0);  
        }
    }
    
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: filter .5s ease-out, transform .5s ease-out;
    }
    
    &__text {
        transform: skewX(15deg);
        
        @include respond(phone) {
            transform: skewX(0);  
        }
    }
    
    &__caption {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        font-size: 1.7rem;
        font-weight: lighter;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity .5s ease-out, transform .5s ease-out;
        backface-visibility: hidden;
    }
    
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}