.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /*fix fpr animation shake*/
    margin-bottom: 6rem;
    
    
    
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-left: 1.6rem;
        margin-bottom: .5rem;
    
        -webkit-animation-name: moveInLeft;
        -o-animation-name: moveInLeft;
        animation-name: moveInLeft;
        -webkit-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5.5rem;
            margin-left: .5rem;
        }
    
    /*  animation-delay: 3s;
        animation-iteration-count: 3;
    */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1.7rem;
        color: $color-white-darker;
        -webkit-animation-name: moveInRight;
        -o-animation-name: moveInRight;
        animation-name: moveInRight;
        -webkit-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        
        @include respond(phone) {
            letter-spacing: .5rem;
        }
        
        
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s ease-out;
    letter-spacing: 2px;
    
    @include respond(tab-port) {
        font-size: 3rem;
    }
    
    @include respond(phone) {
        font-size: 2.5rem;
    }
    
    &:hover {
        transform: skewY(4deg) skewX(5deg) scale(1.1);
        text-shadow: 5px 4px 8px rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-fs;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-fs;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}